#pin_code input {
    display: block;
    margin: 2em auto;
    border: none;
    padding: 0;
    width: 10.5ch;
    background: repeating-linear-gradient(90deg, dimgrey 0, dimgrey 1ch, transparent 0, transparent 1.7ch) 0 100%/ 10ch 2px no-repeat;
    font: 5ch droid sans mono, consolas, monospace;
    letter-spacing: .7ch;
}
#pin_code input:focus {
    outline: none;
    color: dodgerblue;
}
